


<main class="main">
  <div class="header">
    <mat-toolbar class="align-center page-header">
      Professor Dashboard
    </mat-toolbar>
  </div>
  <div class="content">
    <mat-card class="profile-card">
      <div>
        <img mat-card-image src="profileplaceholder.png" alt="Profile Picture">
      </div>
      <div>
        <mat-card-header>
          <mat-card-title>{{ professorData?.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          {{ professorData?.affiliations }} <br>
          Keywords: {{ professorData?.orcid_data.keywords }}
        </mat-card-content>
      </div>
    </mat-card>
    <div class="align-center">
    <h2 >Citation Trends over the years</h2>
    <app-bar-chart [citationData]="professorData?.citation_trends" class="citation-chart"></app-bar-chart>
    </div>
    <div class="citation-card">
      <mat-card class="citation-box align-center">
       <b> Total Citations: {{ professorData?.total_citations }} </b>
      </mat-card>
      <mat-card class="citation-box align-center">
       <b> H-Index: {{ professorData?.h_index }} </b>
      </mat-card>
    </div>

  </div>

  <div class="align-center">
    <h2 >Collaboration Trends over the years</h2>


    <div class="citation-card">
    <mat-card class="citation-box align-center">
      <b> Total Citations: {{ professorData?.total_citations }} </b>
    </mat-card>
    <mat-card class="citation-box align-center">
      <b> H-Index: {{ professorData?.h_index }} </b>
    </mat-card>
  </div>
  </div>


</main>

<router-outlet />
