

<style>
  .align-center{
  justify-content: center;
  }
  .profile-card{
  display:flex;
  flex-direction:row;
  margin-left:2%;
  margin-right:2%;

  }
  .main{
  height:100%;
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
    }
  .header{
    width:100%;
    height:10%;
  }
  .content{
  width:100%;
  height:90%;
  display:flex;
  flex-direction:column;
  overflow: auto;
  justify-content: flex-start;

  }
</style>

<main class="main">
  <div class="header">
    <mat-toolbar class="align-center">
      <h1>Professor Dashboard</h1>
    </mat-toolbar>
  </div>
  <div class="content">
    <mat-card class="profile-card">
      <div>
        <img mat-card-image src="profileplaceholder.png" alt="Profile Picture">
      </div>
      <div>
        <mat-card-header>
          <mat-card-title>{{ professorData?.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>{{ professorData?.affiliations }}</mat-card-content>
      </div>
    </mat-card>
  </div>
</main>

<router-outlet />
